<mat-grid-list cols="6" rowHeight="25rem">
  <mat-grid-tile colspan="2" rowspan="1" class="profile-card">
    <mat-grid-tile-header>General Info</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile class="genres" colspan="3" rowspan="1">
    <mat-grid-tile-header>Game Genres</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile class="interests" colspan="2" rowspan="1">
    <mat-grid-tile-header>Interests</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile class="games-played" colspan="3" rowspan="1">
    <mat-grid-tile-header>Games Played</mat-grid-tile-header>
  </mat-grid-tile>
</mat-grid-list>

<nav>
    <button mat-raised-button class="cancel" (click)="goBack()">Cancel</button>
    <button mat-raised-button (click)="submitChanges()" color="primary">Submit Changes</button>
  </nav>