// TODO decide whether or not to have a single color

mat-form-field {
  width: 90%;
  font-size: 18px;
}
mat-form {
  width: 80%;
  font-size: 18px;
}

form {
  width: 80%;
  font-size: 18px;
}

mat-selection-list {
  max-height: 200px;
  overflow: auto;
  width: 90%;
}

.profile-card {
  background: rgb(145, 149, 151);
}

.genres {
  background: rgb(145, 149, 151);
}

.interestsCard {
  background: rgb(145, 149, 151);
}

.games-played {
  background: rgb(145, 149, 151);
}

mat-grid-list {
  margin: 5rem;
}

.button{
  padding-left: 50px;
}

.cancel{
  margin-right: 7px;
}

.radio-button-group {
   max-height: 200px;
  overflow: auto;
  width: 90%;
}

#interestList {
  max-height: 200px;
  overflow: auto;
  width: 90%;
}