<mat-card class = "view-profile-card">
    <mat-card-header>
      <div mat-card-avatar class="logo"></div>
      <mat-card-title class = "view-profile-title">{{ this.currentUser.firstName }} {{ this.currentUser.lastName}}</mat-card-title>
      <div id="xp">XP: 50</div>
    </mat-card-header>
    <hr>
    <h2>Age: {{ this.currentUser.age }}<br>
      Location: {{ this.currentUser.location.city }}, {{ this.currentUser.location.state}}
    </h2>
</mat-card>

<h1> Under Construction</h1>
<!--<mat-grid-list cols="6" rowHeight="25rem">
  <mat-grid-tile colspan="2" rowspan="1" class="interest-card">
      <mat-grid-tile-header>Interests</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1" class="genre-card">
      <mat-grid-tile-header>Favorite Genres</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1" class="games-played-card">
      <mat-grid-tile-header>Games Played</mat-grid-tile-header>
  </mat-grid-tile>
</mat-grid-list> -->