
.genre-card {
    background: rgb(250, 176, 238);
}

.interest-card {
    background: rgb(223, 245, 245);
}
.games-played-card {
    background: rgb(205, 216, 143);
}
mat-grid-list {
    margin: 5rem;
}