<h1>Welcome back, {{ this.currentUser.firstName }}</h1>
  <mat-card id="user">
  <profile-card [player]="this.currentUser"></profile-card>
</mat-card>

<mat-card  *ngIf="showAdminTools()">
  Hi, this is an admin view. Not much to see here yet!
</mat-card>
<!--TODO look into using grid instead of card-->

<nav>
  <button mat-raised-button (click)="goToLanding()" class="cancel">Log out</button>
  <button mat-raised-button (click)="editProfile()" color="primary">Edit Profile</button>
  <button mat-raised-button (click)="viewProfile(this.currentUser)" style="background-color: #f44336">View Your Profile</button>
  <button mat-raised-button (click)="viewMatchmaking()" color="accent">Matchmaking</button>
</nav>