<mat-grid-list cols="12" rowHeight="60rem">
  <mat-grid-tile id="register-card" class="credentials-card"colspan="6" rowspan="1">
    <mat-grid-tile-header>Register</mat-grid-tile-header>
      <mat-form [formGroup]="userRegisterForm" (ngSubmit)="onSubmit()">
        <div class="formGroup">
          <mat-form-field id="firstName">
            <input matInput placeholder="First Name" type="text" formControlName="firstName" required
              class="form-control" [ngClass]=" { 'is-invalid': submitted && f.firstName.errors}" >
          </mat-form-field>
        </div>
        <div class="formGroup">
          <mat-form-field id="lastName">
            <input matInput placeholder="Last Name" type="text" formControlName="lastName" required
            class="form-control" [ngClass]=" { 'is-invalid': submitted && f.lastName.errors}" >
          </mat-form-field>
        </div>
        <div class="formGroup">
          <mat-form-field id="zip">
            <input matInput placeholder="ZIP Code" type="text" formControlName="zip" required
            class="form-control" [ngClass]=" { 'is-invalid': submitted && f.zip.errors}">
          </mat-form-field>
        </div>
        <div class="formGroup">
          <mat-form-field id="email">
            <input matInput placeholder="E-mail Address" type="text" formControlName="email" required
            class="form-control" [ngClass]=" { 'is-invalid': submitted && f.email.errors}">
          </mat-form-field>
        </div>
        <div class="formGroup">
          <mat-form-field id="password">
            <input matInput placeholder="Password" [type]="hide ? 'text' : 'password'" formControlName="password" required
            class="form-control" [ngClass]=" { 'is-invalid': submitted && f.password.errors}">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
        </div>
        <div class="formGroup">
          <mat-form-field id="confirmPassword">
            <input matInput placeholder="Confirm Password" [type]="hide ? 'text' : 'password'" formControlName="confirmPassword" required
            class="form-control" [ngClass]=" { 'is-invalid': submitted && f.confirmPassword.errors}">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
        </div>
      </mat-form>
    <mat-grid-tile-footer>
      <div class="buttons">
        <!--TODO align buttons better in the card-->
        <button mat-raised-button (click)="goToLanding()" class="cancel">Cancel</button>
        <button mat-raised-button (click)="onSubmit()">Register</button>
      </div>
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>
  