<mat-grid-list cols="12" rowHeight="40rem">
  <mat-grid-tile id="register-card" class="credentials-card"colspan="6" rowspan="1">
    <mat-grid-tile-header>Register</mat-grid-tile-header>
      <div>
        <mat-form-field class="input">
          <input matInput placeholder="E-mail Address" type="text">
        </mat-form-field>
        <mat-form-field class="input">
          <input matInput placeholder="Password" [type]="hide ? 'text' : 'password'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <mat-form-field class="input">
          <input matInput placeholder="Confirm Password" [type]="hide ? 'text' : 'password'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
      </div>
    <mat-grid-tile-footer>
      <div class="buttons">
        <!--TODO align buttons better in the card-->
        <button mat-raised-button (click)="goToLogout()" class="cancel">Cancel</button>
        <button mat-raised-button (click)="editProfile()">Register</button>
      </div>
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>
  