mat-card {
  background-color: rgb(211, 219, 219);
  align-content: center;
}

.logo {
  background-image: url('src/assets/logo-01.png');
  background-size: cover;
}

.landing-card {
  margin-left: 200px;
  margin-right: 200px;
}

.landing-title {
  font-size: 33px;
}

.landing-content {
  font-size: 20px;
}
